* {
    display: inline-block;
}
    
a:hover, a:visited, a:link, a:active {
text-decoration: none;
}

title {
display: none;
}
body {
    text-align: center;
    width: 100vw;
}
.Haha {
    color: #696969;
    margin: 0px;
    font-size: 16px;
}
#ohLord {
    width: 600px;
    height: 600px;
    background-image: url("../noisey.png");
    border: 0px;
    outline: none;
}