
.email {
    display: block; 
    color: white; 
    margin-top: 350px;
    margin-left: 15%;
    float: left;
    width: 200px;
    font-size: 20px;
  }
title {
display: none;
}
.Haha {
    color: #696969;
    margin: 0px;
    font-size: 16px;
    display: inline-block;
}
#ohLord {
    display: inline-block;
    width: 600px;
    height: 600px;
    background-image: url("../noisey.png");
    border: 0px;
    margin-top: 220px;
    outline: none;
    margin-left: 15%;
}