#pictures{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 2;
    justify-content: space-evenly;
    margin-top: 10%;
  
}

.gallery{
color: #FFFFFF;
font-family: DejaVu Sans Mono;
width: 115px;
text-align: center;
font-size: 15px;
}

.galPicture {
margin-top: 5%;
margin-left: 2%;
margin-right: 2%;
height: 300px;
}

h1 {
  color: white;
}
