title {
display: none;
}
.logo {
  display: none;
}
.credits {
  font-size: 6;
  float: right;
  margin-right: 2%;
  color: #696969;
}
.movie {
  object-fit: scale-down;
  width: 100%;
}
#main {
  display: block;
  margin: 0px 2%;
  width: 96%;
}

#links {

  width: 60vw;
  transform: translate(20vw, 0px);
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 20px;
}

.link{
  font-size: 30px;
  color: #696969;
  height: 2em;
  width: 5em;
  margin: 10px;
}
#nav {
  display: none;
}

