{% extends "base.html"%}
{% block title %}Shop{% endblock %}
{% block css %}<link rel="stylesheet" href={{url_for('static', filename = "cssfiles/shop.css")}}>{% endblock %}
{% block title3%}S H O P{% endblock %} 
{% block content %} 
<div id="shopMain">
    <a href = "/whitehell" class= "prettyLink"><img src = "{{url_for('static', filename = 'StorePics/WhiteHell.png')}}" class = 'shopPic'/><p style = "color: white;">White Hell Hoodie</p></a>
    <a href = "/bluehell" class= "prettyLink"><img src = "{{url_for('static', filename = 'StorePics/BlueHell.png')}}" class = 'shopPic'/><p> style = "color: white;"Blue Hell Hoodie</p></a>
    <a href = "/pinkhell" class= "prettyLink"><img src = "{{url_for('static', filename = 'StorePics/PinkHell.png')}}" class = 'shopPic'/><p style = "color: white;">Pink Hell Hoodie</p></a>
    <a href = "/redhell" class= "prettyLink"><img src = "{{url_for('static', filename = 'StorePics/RedHell.png')}}" class = 'shopPic'/><p> style = "color: white;"Red Hell Hoodie</p></a>
</div>
{% endblock %}

