<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={{url_for('static', filename = "cssfiles/checkout.css")}}>
    <title>Checkout</title>
</head>
<body style="background-image: url({{ url_for('static', filename='noisey.png') }}); overflow: hidden;">
    {% set counter = {
        'counter1': 0,
        'price': 0,
    } %}
    {% macro increment(dct, key, inc=1)%}
    {% if dct.update({key: dct[key] + inc}) %} {% endif %}
    {% endmacro %}
    
    {% for item in values %}
        <div class = "item">
            <p style="font-size: large;">{{item.name}}</p>
            <img src = "{{url_for('static', filename = item.url + "/" + item.mainImg)}}" style="width: 200px; display: inline-block;">
            <p> Price: ${{item.price}} Quantity: {{sessiondata[counter['counter1']][item.name]}}</p>
        </div>
        {{increment(counter, 'price', item.price * sessiondata[counter['counter1']][item.name])}}
        {{ increment(counter, 'counter1') }}
    {% endfor %}
    <div class='item'>
        <p>Checkout?</p>
        <div id="paypal-button-container"></div>
        <p>Total: {{counter['price']}}</p>
    </div>
    <!-- Ab5PHgSFW3xyTEmKavGid9-tbkL0gOOT3BewhPuV2QBMnuXgrvAD5s2xAv629xSGhEfglWsj6nCpgLb5 -->
    <script src="https://www.paypal.com/sdk/js?client-id=sb"> // Replace YOUR_SB_CLIENT_ID with your sandbox client ID
    </script>


    <!-- Add the checkout buttons, set up the order and approve the order -->
    <script>
      paypal.Buttons({
        createOrder: function(data, actions) {
          return actions.order.create({
            purchase_units: [{
              amount: {
                value: '{{counter['price']|safe}}'
              }
            }]
          });
        },
        onApprove: function(data, actions) {
          return actions.order.capture().then(function(details) {
            alert('Transaction completed by ' + details.payer.name.given_name);
            console.log(details)
            console.log("yuh")
            var orderInfo = {
              name: details.payer.name.given_name + " " + details.payer.name.surname,
              address: details.payer.address.address_line_1 + ", " + details.payer.address.admin_area_1 + ", " + details.payer.address.admin_area_2 + ". "  + details.payer.address.postal_code,
              yuh: "yuuuuuuh"
            }
            fetch(`${window.origin}/shop/processOrder`, {
              method: "POST",
              body: JSON.stringify(orderInfo),
              headers: new Headers({
                "content-type": "application/json"
              })
            })
          });
        }
      }).render('#paypal-button-container'); // Display payment options on your web page
    </script>
</body>
</html>